.container {
    background-color: bisque;
  display: flex;
  /* justify-content: flex-start; */
  /* justify-content: center; */
  /* justify-content: flex-end; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  justify-content: space-evenly;
  height: 100vh;
  align-items: flex-start;
  /* align-items: flex-end; */
  /* align-items: center; */
}

.item-1{
    order: 3;
}

.item-2{
    align-self: flex-end;
    order: 1;
}

.item-1{
    order: 2;
}

.item {
  background: #f4f4;
  border: 1px solid #000;
  padding: 1rem;
  text-align: center;
  margin: 0.5rem;
  flex-basis: 300px;
}
