@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
}

a{
    text-decoration: none;
}

/* utility Classes */
.text-primary{
    color: #93cb52;
}

.l-heading{
    font-size: 3.5rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn{
    display: inline-block;
    color: #fff;
    background: #93cb52;
    border-radius: 5px;
    padding: 0.75rem 2rem;
    border: none;
}

.btn:hover{
    background: #79ad3c;
    transition: all .75s ;
}

/* Navbar */
#navbar{
    position: sticky;
    top: 0;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding: 1em;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar ul li a{
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.5rem;
}

#navbar ul li a:hover{
    background: #93cb52;
    border-radius: 5px;
    transition: all .75s ;
}

/* Showcase */
#showcase{
    background: #fff;
    height: 100vh;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
}